<div class="parent">
    <div class="intro">
        <div class="name">
            <p>I'm Sai Krishna</p>
        </div>
        <div class="profile">
            <div class="pic">
                <img src="assets/images/sai.jpg" alt="">
            </div>
            <div class="bio">
                <h1>I'm a Software Developer working from Bangalore, India.</h1>
                <p>Over the past 3 years, I have worked in front-end, back-end, devlopment, testing and App UI/UX.</p>
            </div>
        </div>
    </div>
    <div class="exp">
        <div class="experience exp1">
            <div class="side1">
                <div class="company">
                    Relanto.Ai
                </div>
                <div class="role">
                    Java Full Stack Developer
                </div>
            </div>
            <div class="side2">
                23~
            </div>
        </div>
        <div class="experience exp2">
            <div class="side1">
                <div class="company">
                    Entoss
                </div>
                <div class="role">
                    Software Engineer
                </div>
            </div>
            <div class="side2">
                23
            </div>
        </div>
        <div class="experience exp3">
            <div class="side1">
                <div class="company">
                    Free Lancing
                </div>
                <div class="role">
                    Application Developer, Content Creation, Design
                </div>
            </div>
            <div class="side2">
                22~
            </div>
        </div>
        <div class="experience exp4">
            <div class="side1">
                <div class="company">
                    Mphasis
                </div>
                <div class="role">
                    Associate Software Engineer
                </div>
            </div>
            <div class="side2">
                21-23
            </div>
        </div>
    </div>
</div>