<div class="footer">
    <div class="row1">
        <div class="column col1">
            <div (click)="openSongLink(currentSong.link)" class="youtube">
                <div class="d1">
                    <svg fill="#FF0000" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <title>youtubemusic</title>
                        <path
                            d="M13.106 20.424v-8.847l7.663 4.424zM16 8.217c-4.298 0-7.783 3.484-7.783 7.783s3.484 7.783 7.783 7.783c4.298 0 7.783-3.484 7.783-7.783v0c-0.007-4.296-3.487-7.776-7.782-7.783h-0.001zM16 24.877c0 0 0 0-0 0-4.903 0-8.877-3.975-8.877-8.877s3.975-8.877 8.877-8.877c4.903 0 8.877 3.975 8.877 8.877 0 0 0 0 0 0v0c0 0 0 0.001 0 0.001 0 4.902-3.974 8.877-8.877 8.877-0 0-0.001 0-0.001 0h0zM16 1.004c0 0 0 0-0 0-8.282 0-14.996 6.714-14.996 14.996s6.714 14.996 14.996 14.996c8.282 0 14.996-6.714 14.996-14.996v0c-0.003-8.281-6.715-14.993-14.995-14.996h-0z">
                        </path>
                    </svg>
                </div>
                <div class="d2">
                    <div class="line1">On Repeat</div>
                    <div class="line2">{{ currentSong.title }}</div>
                </div>
            </div>
        </div>
        <div class="column col2">
            <div class="sub-column1">

                <ul class="links">
                    <li class="link">Else Where</li>
                    <li class="link">GitHub</li>
                    <li class="link">LinkedIn</li>
                    <li class="link">Instagram</li>
                    <li class="link">Facebook</li>
                </ul>
            </div>
            <div class="sub-column2">
                <ul class="links">
                    <li class="link">Contact</li>
                    <li class="link">Message</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row2">
        <!-- <input type="range" min="1" max="24" step="1" value="1" name="range" class="range" id="range" list="hrs" (input)="updateLines($event)"/> -->
        <!-- <input type="range" min="1" max="24" step="1" value="1" name="range" class="range" id="range" list="hrs" (input)="updateLines($event)"/> -->
        <input type="range" min="1" max="24" step="1" value="1" name="range" class="range" id="range" list="hrs"
            (input)="updateLines($event)" />


        <datalist id="hrs">
            <option value="0"></option>
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
            <option value="6"></option>
            <option value="7"></option>
            <option value="8"></option>
            <option value="9"></option>
            <option value="10"></option>
            <option value="11"></option>
            <option value="12"></option>
            <option value="13"></option>
            <option value="14"></option>
            <option value="15"></option>
            <option value="16"></option>
            <option value="17"></option>
            <option value="18"></option>
            <option value="19"></option>
            <option value="20"></option>
            <option value="21"></option>
            <option value="22"></option>
            <option value="23"></option>
            <option value="24"></option>
        </datalist>
        <div class="line"></div>
        <div class="lines">
            <!-- <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div>
            <div class="min-line"></div> -->
            <!-- <div class="min-line" *ngFor="let line of lines" [class.active]="line <= currentValue" [style.height]="getLineHeight(line)"></div>
             -->
            <!-- <div class="min-line"
                *ngFor="let line of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]; let i = index"
                [style.height]="getLineHeight(line)"></div> -->

            <div *ngFor="let line of generateArray(24); let i = index" class="min-line"
                [style.height]="rangeValue === i + 1 ? '60px' : '40px'"></div>

        </div>
    </div>
</div>