<div class="parent">
    <div class="intro">
        <div class="name">
            <p>Hi. I'm Sai.</p>
        </div>
        <div class="title">
            <p>A Developer.</p>
        </div>
        <div class="desc">
            <p>I'm a Full Stack Web Developer dedicated to crafting immersive, user-centric web applications. Committed
                to delivering engaging and accessible experiences.</p>
        </div>
    </div>

    <div class="projects">
        <div class="row row1">
            <div class="project project1"></div>
            <div class="project project2"></div>
        </div>
        <div class="row row2">
            <div class="project project3"></div>
            <div class="project project4"></div>
        </div>
    </div>
</div>