.parent {
    width: 100%;
    height: auto;

    .intro {
        width: 80%;
        height: auto;
        margin: auto;
        margin-top: 10rem;

        .name,
        .title {
            display: flex;
            justify-content: center;
            height: 9.2vw;
            align-items: flex-start;
            margin: 0;
            padding: 0;

            p {
                display: flex;
                justify-content: center;

                // background-color: red;
                width: 50%;
                position: relative;
                top: 0%;
                font-weight: 600;
                font-size: 8.5vw;
                line-height: normal;
                letter-spacing: -0.6vw;
                margin: auto;

                @media screen and (max-width:425px) {
                    width: 90vw;
                    font-size: 14vw;
                }

            }

            @media screen and (max-width:426px) {
                height: 10.5vw;

            }
        }

        .title {
            p {
                font-size: 6vw;
                letter-spacing: -0.5vw;

                @media screen and (max-width:425px) {
                    font-size: 10.5vw;
                    margin-top: 1rem;
                }
            }
        }

        .desc {
            width: 45vw;
            margin: auto;
            margin-top: 3vw;

            p {
                text-align: center;
                font-weight: 500;
                font-size: 1.2vw;
            }

            @media screen and (max-width: 426px) {
                margin-top: 14vw;
                width: 70vw;

                p {
                    font-size: 1.6vw;
                }
            }
        }

    }

    .projects {
        width: 100%;
        height: auto;

        margin: 5rem auto;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 10rem;

        .row {
            width: 90vw;
            height: 30rem;
            // background-color: pink;

            justify-content: space-evenly;
            gap: 4rem;

            display: flex;

            .project {
                height: 30rem;
                min-width: 40%;
                background-color: rgb(163, 220, 212);

                border-radius: 2rem;

                transition: transform 0.5s ease;

                &:hover {
                    transform: scaleY(1.01);
                    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.05);
                    transition: transform 0.5s ease-in-out;
                    // transition: box-shadow 1s ease-in-out;
                }

                p {
                    margin-top: 3rem;
                    float: right;
                    margin-right: 2.8rem;
                    font-size: 1.05rem;
                    font-weight: 500;
                }
            }

            .project1,
            .project4 {
                width: 65%;
                background-color: rgb(208, 148, 229);
            }

            .project1 {
                background-color: rgb(189, 223, 249);
            }

            .project3 {
                background-color: rgb(232, 184, 156);
            }
        }

        @media screen and (max-width: 768px) {

            gap: 3rem;

            .row {
                width: 90vw;
                height: 40rem;
                flex-direction: column;
                gap: 3rem;

                .project,
                .project1,
                .project3,
                .project4,
                .project2 {
                    width: 100%;
                }
            }
        }
    }
}